body {
    font-family: arial;
    margin: 0;
}

header {
    font-size: xx-large;
    font-family: times;
    padding: 30px;
    background: repeating-linear-gradient(
        5deg,
        #1f618d,
        white 45px,
        red 48px
    );
}

header a,
header a:visited {
    color: black;
    text-decoration: none;
}

section.content {
    padding: 10%;
}

section#intro {
    padding-bottom: 10vw;
}

input {
    margin-bottom: 3px;
}

footer {
    background-color: black;
    color: white;
    font-size: smaller;
    padding: 5vw 5vw 10vw 5vw;
}

#ethos-logo {
    height: 100px;
    float: right;
}
